@use 'mixins' as m
@use 'variables' as v

aside
    width: 15rem
    height: 100%
    @include m.flex($align: stretch, $direction: column, $gap: v.$sp-regular)

    > div
        width: 100%
        height: 200px
        background-color: red
        border-radius: 40px

    > ul
        flex: 1

footer
    @include m.flex(center, stretch, column)
