@use 'mixins' as m;
@use 'colors' as c;
@use 'variables' as v;

:host {
	width: 14.5rem;
	height: 88.608dvh;
	position: sticky;
	top: 88px;
	border-radius: 2rem;
	animation: on-scroll linear;
	animation-timeline: scroll(root block);
}

nav {
	width: 100%;
	height: 100%;
	@include m.flex(flex-start, stretch, column, nowrap, v.$sp-medium);
}

menu {
	flex: 1;
	width: 100%;
	list-style-type: none;
	@include m.flex(flex-start, stretch, column, nowrap);
}

section {
	background-color: c.$platinum;
	border-radius: 2rem;
	padding: 18px;
	width: 100%;
	@include m.flex(space-between, stretch, column, wrap, v.$sp-small);

	> #info {
		width: 100%;
		flex: 1;
		@include m.flex(space-between, center, row, wrap, v.$sp-small);

		> cf-icon {
			background-color: c.$brilliant-rose;
			color: c.$night;
			padding: v.$fs-extra-small;
			border-radius: 100%;
		}

		> div {
			@include m.flex(center, flex-start, column, wrap, v.$sp-tiny);
			flex: 1;

			p:first-child {
				font-size: v.$fs-regular;
				width: 100%;
			}

			p:last-child {
				font-size: v.$fs-semi-small;
				color: c.$cool-gray;
				font-weight: 500;
				width: 100%;
			}
		}
	}

	> #balance {
		width: 100%;
		flex: 1;
		@include m.flex(space-between, flex-end, row, wrap);

		> div {
			@include m.flex(center, stretch, column, wrap, v.$sp-tiny);

			> p {
				font-size: v.$fs-semi-small;
				color: c.$cool-gray;
			}

			> div {
				@include m.flex(flex-start, center, row, wrap, v.$sp-small);

				p {
					font-size: v.$fs-medium;
					font-weight: 500;
					color: c.$brilliant-rose;
				}

				cf-icon {
					color: c.$brilliant-rose;
				}
			}
		}
	}
}

footer {
	@include m.flex(center, stretch, column, wrap);
}
