@use 'colors' as c;
@use 'variables' as v;

:host {
	--tui-radius-xs: 20rem;
	--tui-radius-s: 20rem;
	--tui-radius-m: 20rem;
	--tui-radius-l: 20rem;

	width: fit-content;
	height: fit-content;
	display: inline-flex;

	.cf-button {
		--tui-height-l: 3.5rem;
		min-width: 12rem;
	}

	.cf-fab-button {
		--tui-height-l: 3.5rem;
		--tui-radius-xs: #{v.$sp-medium};
		--tui-radius-s: #{v.$sp-medium};
		--tui-radius-m: #{v.$sp-medium};
		--tui-radius-l: #{v.$sp-medium};
	}

	[tuiIcons]:after,
	[tuiIcons]:before {
		font-size: v.$fs-medium;
	}
}

button {
	font-weight: 500 !important;
	font-size: v.$fs-regular;
}