@if (!isIconButton()) {
	<button
		tuiButton
		[type]="type()"
		[appearance]="appearance()"
		[iconStart]="iconLeading()"
		[iconEnd]="iconTrailing()"
		[size]="size()"
		[disabled]="isDisabled()"
		[loading]="isLoading()"
		[attr.form]="form()"
		(click)="onButtonClick()">
		{{ label() }}
	</button>
} @else {
	<button
		tuiIconButton
		[type]="type()"
		[appearance]="appearance()"
		[iconStart]="iconLeading()"
		[size]="size()"
		[disabled]="isDisabled()"
		[loading]="isLoading()"
		[attr.form]="form()"
		(click)="onButtonClick()"></button>
}
