@use 'colors' as c
@use 'variables' as v

:host
    --tui-primary-text: #{c.$background}
    --tui-height-l: 3rem
    width: 12rem

    @media (width <= v.$bp-desktop)
        --tui-height-l: 42px
        --tui-font-text-m: normal #{v.$fs-semi-regular} var(--tui-font-text)

button
    width: inherit !important
    font-weight: 500 !important
    font-size: v.$fs-semi-regular

    @media (width <= v.$bp-desktop)
        width: 10rem
