@use 'colors' as c;
@use 'variables' as v;

:host {
	--tui-primary-text: #{c.$night};
	--tui-font-text-m: 500 #{v.$fs-regular}/ 1 var(--tui-font-text);
	width: fit-content;
	display: inline-block;

	.cf-button {
		--tui-height-l: 3.5rem;
		min-width: 12rem;
	}

	.cf-fab-button {
		--tui-height-l: 3.5rem;
	}
}

button {
	font-weight: 500 !important;
	font-size: v.$fs-regular;

	&.cf-button {
		width: inherit !important;
		min-width: 9rem;
	}

	&.cf-fab-button {
		border-radius: v.$sp-medium;
	}
}
