@use 'colors' as c;
@use 'variables' as v;
@use 'mixins' as m;

:host {
	--tui-font-heading-5: 600 #{v.$fs-extra-large}/ 1.75rem var(--tui-font-heading);
	--tui-font-text-s: 600 #{v.$fs-large}/ 1 var(--tui-font-heading);
	@include m.flex($align: center, $gap: 0.5rem);
}

h1,
h2 {
	color: c.$primary;
}
