<label [htmlFor]="id" [tuiLabel]="label">
	@switch (type) {
		@case ('text') {
			<ng-container *ngTemplateOutlet="textFormField" />
		}

		@case ('email') {
			<ng-container *ngTemplateOutlet="textFormField" />
		}

		@case ('number') {
			<tui-input-number
				[id]="id"
				[nativeId]="id"
				[tuiTextfieldLabelOutside]="true"
				[tuiTextfieldIconLeft]="iconLeft"
				[tuiTextfieldIcon]="iconRight"
				[disabled]="isDisabled"
				[(ngModel)]="value"
				(input)="onInput($event)">
				{{ placeholder }}
			</tui-input-number>
			<tui-error [error]="[] | tuiFieldError | async"></tui-error>
		}
	}
</label>

<ng-template #textFormField>
	<tui-input
		[tuiTextfieldLabelOutside]="true"
		[tuiTextfieldCleaner]="showCleaner"
		[tuiTextfieldIconLeft]="iconLeft"
		[tuiTextfieldIcon]="iconRight"
		[(ngModel)]="value"
		[disabled]="isDisabled">
		{{ placeholder }}
		<input
			tuiTextfield
			[id]="id"
			[type]="type"
			[placeholder]="placeholder"
			(input)="onInput($event)"
			[value]="value"
			[spellcheck]="spellCheck ?? false"
			[autocapitalize]="autoCapitalize ?? false" />
	</tui-input>
	<tui-error [error]="[] | tuiFieldError | async"></tui-error>
</ng-template>

