<main>
	<header>
		<section>
			<i class="ph-duotone ph-film-slate"></i>
			<h1 class="tui-text_h1">CINEMAFUN</h1>
		</section>
		<section>
			<h2>Welcome!</h2>
			<h3>Enter your name, email and the ticket price to continue</h3>
		</section>
	</header>

	<form [formGroup]="form" (ngSubmit)="onSubmit()" [id]="formId">
		@for (field of formFields; track field.id) {
			<cf-form-field
				[id]="field.id"
				[type]="field.type"
				[placeholder]="field.placeholder"
				[label]="field.label"
				[iconLeft]="field.iconLeft"
				[formControlName]="field.formControlName"
				[spellCheck]="field.spellCheck"
				[autoCapitalize]="field.autoCapitalize"
				[isRequired]="isFieldRequired(field.formControlName)" />
		}
	</form>

	<footer>
		<cf-button [label]="'Sign up'" [type]="'submit'" [form]="formId" />
	</footer>
</main>

