@use 'colors' as c
@use 'mixins' as m
@use 'variables' as v

:host
    @media (width <= v.$bp-tablet)
        @include m.square(100%)

main
    @include m.size(39rem, 46rem)
    background: linear-gradient(to bottom, rgb(100, 100, 136, 0.3), rgb(58, 58, 80, 0.3) 60%)
    border-radius: 2rem
    padding: v.$sp-big
    @include m.flex(space-between, stretch, column, wrap)

    @media (width <= v.$bp-lg-desktop)
        @include m.size(46dvmax, 53dvmax)

    @media (width <= v.$bp-desktop)
        padding: v.$sp-extra-medium

    @media (width <= v.$bp-tablet)
        @include m.size(100%, 100dvh)
        border-radius: 0

    > header
        flex: 1.2
        @include m.flex(center, stretch, column, wrap, 2rem)

        > section:first-child
            @include m.flex($align: center, $gap: 0.5rem)

        > section:last-child
            @include m.flex(center, stretch, column, wrap, 0.5rem)

        h1
            font-size: v.$fs-extra-large
            color: c.$primary
            font-weight: 600

            @media (width <= v.$bp-desktop)
                font-size: v.$fs-large

        h2
            font-weight: 500
            font-size: v.$fs-large

            @media (width <= v.$bp-desktop)
                font-size: v.$fs-regular

        h3
            font-weight: 500
            color: c.$text-secondary
            font-size: v.$fs-regular

            @media (width <= v.$bp-desktop)
                font-size: v.$fs-semi-regular
                text-wrap: pretty

        i
            font-size: v.$fs-extra-large
            color: c.$primary

            @media (width <= v.$bp-desktop)
                font-size: v.$fs-large

    > form
        flex: 2
        @include m.flex(center, stretch, column, wrap, v.$sp-regular)

    > footer
        flex: 1
        @include m.flex(flex-end, flex-end)

        @media (width <= v.$bp-lg-desktop)
            flex: 0.8
            align-items: center

            cf-button
                flex: 1
                width: 100%
