@use 'variables' as v;

tui-icon {
	font-size: v.$fs-extra-large;
	width: v.$fs-extra-large;
	height: v.$fs-extra-large;
}

.subtitle {
	font-size: v.$fs-medium;
	width: v.$fs-medium;
	height: v.$fs-medium;
}
