@use 'variables' as v;
@use 'colors' as c;

// Font sizes
@each $name, $size in v.$font-sizes {
	.#{$name} {
		width: $size !important;
		height: $size !important;
		font-size: $size !important;
	}
}

// Colors
@each $name, $color in c.$colors {
	.#{$name} {
		width: $color !important;
	}
}
