/**
 * @tokens Colors
 * @presenter Color
 */

$night: #1c1c27;
$platinum: #ffffff0d;
$ghost-white: #ffffff12;
$brilliant-rose: #ff4ab0;
$deep-sky-blue: #5cc8ff;
$sunglow: #ffcc70;
$spring-green: #40f99b;
$folly: #ff384f;
$white: white;
$cool-gray: #8e92aa;

/**
 * @tokens-end
*/

:root {
	--cf-night: #{$night};
	--cf-platinum: #{$platinum};
	--cf-ghost-white: #{$ghost-white};
	--cf-brilliant-rose: #{$brilliant-rose};
	--cf-deep-sky-blue: #{$deep-sky-blue};
	--cf-sunglow: #{$sunglow};
	--cf-spring-green: #{$spring-green};
	--cf-folly: #{$folly};
	--cf-white: #{$white};
	--cf-cool-gray: #{$cool-gray};
}

// Old color for background
/// #0f0f15
