@mixin size($width, $height, $important: false) {
	width: is-important($width, $important);
	height: is-important($height, $important);
}

@mixin square($size, $important: false) {
	@include size($size, $size, $important);
}

@mixin position($top: null, $bottom: null, $left: null, $right: null) {
	$positions: (
		'top': $top,
		'bottom': $bottom,
		'left': $left,
		'right': $right
	);

	@each $name, $value in $positions {
		@if $value !=null {
			#{$name}: $value;
		}
	}
}

@mixin flex($justify: flex-start, $align: flex-start, $direction: row, $wrap: nowrap, $gap: 0, $important: false) {
	display: is-important(flex, $important);
	justify-content: $justify;
	align-items: $align;
	flex-flow: $direction $wrap;
	gap: $gap;
}

@function is-important($value, $important) {
	@return $value if($important, !important, null);
}
