@mixin size($width, $height)
    width: $width
    height: $height

@mixin square($size)
    @include size($size, $size)

@mixin position($top: null, $bottom: null, $left: null, $right: null)
    $positions: ('top': $top, 'bottom': $bottom, 'left': $left, 'right': $right)

    @each $name, $value in $positions
        @if $value != null
            #{$name}: $value
