@use 'colors' as c

:root
    --tui-base-01: #{c.$background} !important
    --tui-primary: #{c.$primary}
    --tui-primary-hover: #{darken(c.$primary, 7%)}
    --tui-primary-active: #{darken(c.$primary, 10%)}
    --tui-text-font: 'Hind Madurai', sans-serif
    --tui-text-heading: 'Hind Madurai', sans-serif
