@use 'colors' as c;
@use 'variables' as v;
@use 'mixins' as m;

:root {
	--tui-base-01: #{c.$night} !important;
	--tui-primary: #{c.$brilliant-rose};
	--tui-primary-hover: #{darken(c.$brilliant-rose, 5%)};
	--tui-primary-active: #{darken(c.$brilliant-rose, 10%)};
	--tui-text-font: 'Hind Madurai', sans-serif;
	--tui-text-heading: 'Montserrat', sans-serif;
	--tui-font-heading: 'Montserrat', sans-serif;
}

// button

cf-button {
	.cf-button {
		.t-left {
			@include m.square(v.$fs-extra-regular, true);

			tui-svg {
				@include m.square(v.$fs-extra-regular, true);
			}
		}
	}

	.cf-fab-button {
		.t-left {
			@include m.square(v.$fs-big, true);

			tui-svg {
				@include m.square(v.$fs-big, true);
			}
		}
	}

	.t-src svg {
		fill: #{c.$night};
		@include m.square(inherit);
	}
}

button {
	&.cf-button .t-wrapper {
		padding: v.$sp-regular v.$sp-large !important;
	}

	&.cf-fab-button .t-wrapper {
		padding: v.$sp-regular !important;
	}
}

tui-loader {
	.t-content {
		@include m.flex(center, stretch, column, wrap, $important: true);
		outline: none;
		border: none;
	}

	.t-content_loading {
		@include m.flex(center, stretch, column, wrap, $important: true);
	}
}

// form field

cf-form-field {
	.t-icon_left tui-svg {
		@include m.square(v.$fs-extra-regular, true);
	}

	.t-src svg {
		fill: c.$white;
		@include m.square(inherit);
	}
}

[tuiWrapper]::after {
	border: none !important;
}

[tuiWrapper][data-appearance='textfield'][data-mode='onDark'] {
	box-shadow: none;

	&:hover {
		box-shadow: none;
	}
}

label .t-label {
	margin-left: v.$sp-semi-small;
	margin-bottom: v.$sp-small !important;
}

// .t-text {
// 	color: white !important
// }

// .t-placeholder {
// 	@media (width <= v.$bp-desktop) {
// 		font-size: v.$fs-semi-regular !important
// 	}
// }

// &:has(tui-input._disabled, tui-input-number._disabled) {
// 	.t-text {
// 		color: c.$cool-gray !important
// 	}
// }

.t-filler {
	line-height: v.$fs-extra-great !important;
}

tui-hint {
	line-height: v.$fs-medium !important;
}

.no-margin {
	.t-label {
		margin-bottom: 0 !important;
	}
}
