@use 'colors' as c;
@use 'variables' as v;
@use 'mixins' as m;

:root {
	--tui-background-base: #{c.$night};
	--tui-font-text: 'Hind Madurai', sans-serif;
	--tui-font-heading: 'Montserrat', sans-serif;
	--tui-background-accent-1: #{c.$brilliant-rose};
	--tui-background-accent-1-hover: #{lighten(c.$brilliant-rose, 5%)};
	--tui-background-accent-1-pressed: #{darken(c.$brilliant-rose, 10%)};
	--tui-text-primary-on-accent-1: #{c.$night};
	--tui-text-primary: #{c.$white};
	// --tui-negative: #{c.$folly};
	// --tui-negative-night: #{c.$folly};

	[tuiTheme=dark] {
		--tui-background-base: #{c.$night};
		--tui-text-primary: #{c.$white};
	}

	[data-appearance=dark] {
		--tui-background-accent-opposite-hover: #{c.$night};
		--tui-background-base: #{c.$white};
	}
}

// form field

cf-form-field {
	tui-icon {
		@include m.square(v.$fs-extra-regular, true);
		font-size: v.$fs-extra-regular;
	}

	tui-tooltip {
		.t-tooltip-icon {
			@include m.flex(center, center, $important: true);
		}

		tui-icon {
			@include m.square(v.$fs-extra-regular, true);
			font-size: v.$fs-extra-regular;
		}

		.t-icon {
			border: none !important;
		}
	}

	tui-value-decoration {
		line-height: var(--tui-height) !important;
	}

	.t-input:-webkit-autofill {
		caret-color: c.$white;
	}
}

[tuiTheme=dark] [tuiWrapper][data-appearance=textfield]._focused._focused {
	background: c.$platinum;
}

[tuiWrapper]::after {
	border: none !important;
}

[tuiWrapper][data-appearance='textfield'] {
	box-shadow: none;

	&:hover {
		box-shadow: none;
	}
}

@media (hover: hover) {

	[tuiWrapper][data-appearance='textfield']:hover:not(._no-hover),
	[tuiWrapper][data-appearance='textfield'][data-state='hover'] {
		box-shadow: none;
	}
}

tui-hint {
	@include m.flex(center, center);
}

// .t-filler {
// 	line-height: v.$fs-extra-great !important;
// }

// .no-margin {
// 	.t-label {
// 		margin-bottom: 0 !important;
// 	}
// }

// tui-error {
// 	--tui-font-text-s: 500 #{v.$fs-regular}/ 1 var(--tui-font-text);

// 	.t-message-text {
// 		margin-left: v.$sp-semi-small;
// 	}
// }

// carousel

tui-carousel {

	.t-scroller,
	.t-wrapper,
	.t-items {
		@include m.square(100%);
	}

	.t-item {
		--tui-carousel-padding: 0;
	}

	picture {
		@include m.square(100%);
	}

	img {
		@include m.square(100%);
		object-fit: cover;
	}
}

// loader

tui-loader .t-loader {
	stroke: c.$night !important;
}

// money

tui-money {

	span[automation-id='tui-money__integer-part'],
	span[automation-id='tui-money__decimal-part'] {
		@include m.truncate-text;
	}

	.t-container>span:not([automation-id='tui-money__currency']) {
		@include m.truncate-text;
		flex: 1;
	}
}