// Spacing
$sp-small: 10px
$sp-regular: 20px
$sp-medium: 40px
$sp-big: 50px
$sp-large: 60px

// Font sizes
$fs-tiny: 12px
$fs-small: 14px
$fs-regular: 16px
$fs-medium: 18px
$fs-large: 20px
$fs-large-plus: 22px
$fs-extra-large: 24px
