/* You can add global styles to this file, and also import other style files */
@forward 'override'
@forward 'fonts'
@use 'variables' as v
@use 'colors' as c

:root
    scroll-behavior: smooth

*
    margin: 0
    padding: 0
    line-height: 1
    box-sizing: border-box !important

html, body
    width: 100%
    font-size: v.$fs-regular
    box-sizing: border-box

body
    position: relative

tui-root
    padding: v.$sp-medium
    min-height: 100%
    height: 100%

label
    .t-label
        margin-left: 0.5rem

    .t-text
        color: white !important

    &:has(tui-input._disabled, tui-input-number._disabled)
        .t-text
            color: c.$text-secondary !important
