@use 'colors' as c;
@use 'variables' as v;
@use 'mixins' as m;

:host {
	--tui-background-base: #{c.$platinum};
	--tui-background-neutral-1: #{c.$platinum};
	--tui-background-neutral-1-hover: #{opacify(c.$platinum, 0.03)};
	--tui-background-neutral-1-pressed: #{opacify(c.$platinum, 0.06)};
	--tui-text-secondary: #{c.$cool-gray};
	--tui-text-tertiary: #{c.$cool-gray};
	--tui-height-l: 3.5rem;
	--tui-height-xs: 6.25rem;
	--tui-radius-s: 6.25rem;
	--tui-radius-m: 6.25rem;
	--tui-radius-l: 6.25rem;
	--tui-radius-xl: 6.25rem;
	// --tui-text-02-night: #{c.$cool-gray};
	// --tui-text-03-night: #{lighten(c.$cool-gray, 10%)};
	// --tui-clear-active: #{c.$platinum};
	// --tui-clear-inverse: #{c.$platinum};
	// --tui-clear-inverse-hover: #{opacify(c.$platinum, 0.02)};
	// --tui-autofill-night: #{desaturate(darken(c.$deep-sky-blue, 40%), 70%)};
	// --tui-font-text-s: normal #{v.$fs-regular}/ 1 var(--tui-font-text);
	// --tui-disabled-opacity: 0.5;
}

tui-input {
	backdrop-filter: blur(1rem);

	input::placeholder {
		color: c.$cool-gray;
	}
}

.required {
	color: c.$folly;
}