<label [tuiLabel]="formFieldLabel" [htmlFor]="nativeId" [ngClass]="{ 'no-margin': label === '' }">
	@switch (type) {
		@case ('number') {
			<tui-input-number
				[nativeId]="nativeId"
				[tuiTextfieldLabelOutside]="true"
				[tuiTextfieldCleaner]="showCleaner"
				[tuiTextfieldIconLeft]="iconLeft"
				[tuiTextfieldIcon]="iconRight"
				[tuiTextfieldFiller]="filler"
				[tuiTextfieldPrefix]="prefix"
				[tuiTextfieldPostfix]="postfix"
				[tuiHintContent]="hint"
				[tuiHintDirection]="hintDirection"
				[disabled]="isDisabled"
				[(ngModel)]="value"
				(ngModelChange)="onNgModelChange($event)">
				{{ placeholder }}
			</tui-input-number>
		}

		@case ('password') {
			<tui-input-password
				[nativeId]="nativeId"
				[tuiTextfieldLabelOutside]="true"
				[tuiTextfieldCleaner]="showCleaner"
				[tuiTextfieldIconLeft]="iconLeft"
				[tuiTextfieldIcon]="iconRight"
				[tuiTextfieldFiller]="filler"
				[tuiTextfieldPrefix]="prefix"
				[tuiTextfieldPostfix]="postfix"
				[tuiHintContent]="hint"
				[tuiHintDirection]="hintDirection"
				[disabled]="isDisabled"
				[(ngModel)]="value"
				(ngModelChange)="onNgModelChange($event)">
				{{ placeholder }}
			</tui-input-password>
		}

		@default {
			<tui-input
				[nativeId]="nativeId"
				[tuiTextfieldLabelOutside]="true"
				[tuiTextfieldCleaner]="showCleaner"
				[tuiTextfieldIconLeft]="iconLeft"
				[tuiTextfieldIcon]="iconRight"
				[tuiTextfieldFiller]="filler"
				[tuiTextfieldPrefix]="prefix"
				[tuiTextfieldPostfix]="postfix"
				[tuiHintContent]="hint"
				[tuiHintDirection]="hintDirection"
				[disabled]="isDisabled"
				[(ngModel)]="value"
				(ngModelChange)="onNgModelChange($event)">
				{{ placeholder }}
				<input
					tuiTextfield
					[id]="nativeId"
					[type]="type"
					[placeholder]="placeholder"
					[disabled]="isDisabled"
					[spellcheck]="spellCheck"
					[autocapitalize]="autoCapitalize" />
			</tui-input>
		}
	}
</label>

<ng-template #formFieldLabel>
	{{ label }}

	@if (isRequired) {
		<span class="required">*</span>
	}
</ng-template>
