@use 'colors' as c;
@use 'variables' as v;

:host {
	--tui-height-l: 3rem;
	--tui-radius-m: 6.25rem;
	--tui-text-02-night: #{c.$cool-gray};
	--tui-text-03-night: #{lighten(c.$cool-gray, 10%)};
	--tui-clear-active: #{c.$platinum};
	--tui-clear-inverse: #{c.$platinum};
	--tui-clear-inverse-hover: #{opacify(c.$platinum, 0.02)};
	--tui-autofill-night: #{desaturate(darken(c.$deep-sky-blue, 40%), 70%)};
	--tui-font-text-s: normal v.$fs-regular var(--tui-font-text);
	--tui-disabled-opacity: 0.5;
}

tui-input {
	backdrop-filter: blur(1rem);

	input::placeholder {
		color: c.$cool-gray;
	}
}

.required {
	color: c.$folly;
}
