@use 'colors' as c
@use 'variables' as v

:host
    --tui-height-l: 42px
    --tui-text-02-night: #{c.$text-secondary}
    --tui-text-03-night: #{lighten(c.$text-secondary, 10%)}
    --tui-clear-active: #{c.$container}
    --tui-clear-inverse: #{c.$container}
    --tui-clear-inverse-hover: #{opacify(c.$container, 0.01)}
    --tui-clear-inverse-active: #{red}
    --tui-autofill-night: #{desaturate(darken(c.$secondary, 40%), 70%)}
    --tui-font-text-s: normal #{v.$fs-regular} var(--tui-font-text)
    --tui-disabled-opacity: 0.5
    --tui-negative-night: #{c.$error}

tui-input, tui-input-number
    border-radius: 2rem
    border: none !important
    backdrop-filter: blur(1rem)

    input::placeholder
        color: c.$text-secondary

label
    gap: .5rem

tui-error
    margin-top: 0.5rem
    margin-left: 0.5rem

.required
    color: c.$error
