<a tuiCardLarge [routerLink]="['/movie', id()]">
	<picture>
		@for (size of posterSizes(); track $index) {
			@if (size.includes('original')) {
				<img
					[ngSrc]="imagePath() + size + poster()"
					[alt]="title() + poster()"
					[loaderParams]="{ width: 320, height: 416, fit: 'cover' }"
					priority
					fill
					placeholder />
			} @else {
				<source [srcset]="imagePath() + size + poster()" [media]="getMediaQuery(size)" />
			}
		}
	</picture>
	<section>
		<div>
			<tui-line-clamp title [content]="title()" [lineHeight]="16" [linesLimit]="1" />
			<tui-line-clamp class="paragraph" [content]="genre() | genre" [lineHeight]="14" [linesLimit]="1" />
		</div>
		<p class="paragraph">
			<span>{{ runtime() | runtime }}</span>
			<span [ngClass]="classificationColor()" [tuiHint]="meaning()">{{ classification() | classification }}</span>
		</p>
	</section>
</a>
