@use 'colors' as c;
@use 'variables' as v;
@use 'mixins' as m;

:host {
	--tui-elevation-02: #{c.$night};
	--tui-font-heading-6: 500 #{v.$fs-regular}/ 1 var(--tui-font-text);
	width: 100%;
}

a {
	@include m.square(100%);
}

.tui-island_size_m {
	--tui-radius-xl: #{v.$sp-large};
}

.tui-island {
	@include m.flex(space-between, stretch, column, wrap, v.$sp-semi-small);

	&__figure {
		order: 0;
		margin: 0;
		flex: 1;
		border-radius: calc(v.$sp-large / 2);

		> img {
			object-fit: cover;
			border-radius: calc(v.$sp-large / 2);
			overflow-clip-margin: unset;
			@include m.square(100%);
		}
	}

	&__title {
		margin: 0;
	}

	&__paragraph {
		font-size: v.$fs-extra-small;
	}

	&__content {
		@include m.flex(space-between, stretch, column, wrap, v.$sp-small);

		> div {
			@include m.flex(flex-start, stretch, column, wrap, v.$sp-tiny);
		}
	}
}

.general {
	color: c.$spring-green;
}

.parental-guidance {
	color: c.$sunglow;
}

.parental-guidance-13 {
	color: c.$brilliant-rose;
}

.restricted {
	color: c.$folly;
}

.adults-only {
	color: c.$deep-sky-blue;
}
