@use 'colors' as c;
@use 'variables' as v;
@use 'mixins' as m;

:host {
	--tui-font-text-m: normal #{v.$fs-regular} / 1 var(--tui-font-text);
	@include m.size(19rem, fit-content);
	@include m.flex;
	border-radius: v.$sp-large;
	background-color: c.$night;
}

[tuiCardLarge][data-space][data-space='normal'] {
	--t-radius: #{v.$sp-large};
	--t-padding: #{v.$sp-regular};
	--t-space: #{v.$sp-semi-small};
}

a {
	@include m.square(100%);
	@include m.flex(space-between, stretch, column, wrap, v.$sp-semi-small);
	border-radius: inherit;

	> picture {
		position: relative;
		flex: 1;
		flex-basis: 26rem;
		border-radius: calc(v.$sp-large / 2);

		img {
			@include m.square(100%);
			object-fit: cover;
			border-radius: inherit;
		}
	}

	> section {
		@include m.flex(space-between, stretch, column, wrap, v.$sp-small);

		> div {
			@include m.flex(flex-start, stretch, column, wrap, v.$sp-tiny);

			tui-line-clamp[title] {
				color: c.$white;
				font-weight: 500;
			}
		}

		> p {
			@include m.flex(flex-start, center, row, wrap, v.$sp-tiny);

			span {
				display: inline-block;
			}
		}
	}
}

.paragraph {
	color: #ffffffb8;
	font-size: v.$fs-extra-small;
}

.general {
	color: c.$spring-green;
}

.parental-guidance {
	color: c.$sunglow;
}

.parental-guidance-13 {
	color: c.$brilliant-rose;
}

.restricted {
	color: c.$folly;
}

.adults-only {
	color: c.$deep-sky-blue;
}

.skeleton {
	background-color: c.$platinum;
	border-radius: v.$sp-large;
	padding: v.$sp-regular;
	animation: loading-skeleton ease-in-out 0.8s infinite alternate;
	@include m.size(298px, 516px);
	@include m.flex(space-between, stretch, column, wrap, v.$sp-semi-small);

	&__image {
		flex: 1;
		border-radius: calc(v.$sp-large / 2);
		background-color: c.$platinum;
	}

	&__content {
		@include m.flex(space-between, stretch, column, wrap, v.$sp-small);

		> div:first-child {
			@include m.flex(flex-start, stretch, column, wrap, v.$sp-tiny);
		}
	}

	&__title {
		@include m.skeleton-color($height: 1rem);
	}

	&__paragraph {
		@include m.skeleton-color($height: 0.875rem);
	}

	&__footer {
		@include m.skeleton-color(105px, 0.875rem);
	}
}
