@use 'mixins' as m;
@use 'variables' as v;
@use 'colors' as c;

:host {
	--tui-font-heading-5: 700 #{v.$fs-regular}/ 1 var(--tui-font-heading);
	--tui-font-heading-3: bold #{v.$fs-extra-large}/ 1 var(--tui-font-heading);
	padding: v.$sp-great 5rem;
	position: relative;
	@include m.size(100%, 100dvh);
	@include m.flex(flex-start, stretch, column, wrap);
}

#header {
	@include m.flex(flex-start, center, row);
}

main {
	flex: 1;
	@include m.flex(space-between, center, row, wrap, v.$sp-medium);
}

#form-box {
	width: 40dvw;
	@include m.flex(flex-start, stretch, column, wrap, v.$sp-semi-large);

	> header {
		width: 100%;
		@include m.flex(center, stretch, column, wrap, v.$sp-semi-small);

		h3 {
			text-transform: uppercase;
			color: c.$cool-gray;
		}

		h2 {
			display: block;

			&::after {
				content: '';
				display: inline-block;
				background-color: c.$brilliant-rose;
				border-radius: 100%;
				@include m.square(v.$fs-regular);
			}
		}
	}

	> form {
		@include m.flex(space-between, center, row, wrap, v.$sp-medium);

		> cf-form-field:not(#balance, #ticket) {
			width: 100%;
		}

		#balance,
		#ticket {
			flex: 1;
		}
	}

	> footer {
		@include m.flex(flex-end, center, row);
	}
}

#carousel {
	position: absolute;
	z-index: -1;
	@include m.position($right: 0, $bottom: 0);
	@include m.size(68dvw, 100dvh);
	@include m.flex(center, center);

	cf-carousel {
		@include m.square(100%);
	}
}
