@use 'mixins' as m;
@use 'variables' as v;
@use 'colors' as c;

:host {
	--tui-font-heading-5: 700 #{v.$fs-regular}/ 1 var(--tui-font-heading);
	--tui-font-heading-3: bold #{v.$fs-great}/ 1 var(--tui-font-heading);
	padding: v.$sp-great 5rem;
	@include m.size(100%, 100dvh);
	@include m.flex(flex-start, stretch, column, wrap);
	position: relative;
}

#header {
	@include m.flex(flex-start, center, row);
}

main {
	flex: 1;
	@include m.flex(space-between, center, row, wrap, v.$sp-medium);
}

#form-box {
	width: 45rem;
	@include m.flex(flex-start, stretch, column, wrap, v.$sp-semi-large);

	> header {
		width: 100%;
		@include m.flex(center, stretch, column, wrap, v.$sp-regular);

		h3 {
			text-transform: uppercase;
			color: c.$cool-gray;
		}

		h2 {
			display: block;

			&::after {
				content: '';
				display: inline-block;
				background-color: c.$brilliant-rose;
				border-radius: 100%;
				@include m.square(v.$fs-regular);
			}
		}
	}

	> form {
		@include m.flex(space-between, center, row, wrap, v.$sp-medium);

		> cf-form-field:not(#balance, #ticket) {
			width: 100%;
		}

		#balance,
		#ticket {
			flex: 1;
		}
	}

	> footer {
		@include m.flex(flex-end, center, row);
	}
}

#carousel-box {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100dvh;
	z-index: -1;
	@include m.flex(center, center);

	figure {
		// flex: 1;
		// width: 50dvw;
		// height: 100%;
		width: 100%;
		height: 100%;
		// border-radius: 50px;
		@include m.flex(center, stretch);

		> img {
			width: 100%;
			object-fit: cover;
			border-radius: inherit;
			mask-image: linear-gradient(to left, black 0%, transparent 90%);
		}
	}
}
