@use 'mixins' as m;
@use 'variables' as v;
@use 'colors' as c;

:host {
	--tui-font-heading-5: 700 #{v.$fs-regular}/ 1 var(--tui-font-heading);
	--tui-font-heading-3: bold #{v.$fs-extra-large}/ 1 var(--tui-font-heading);
	padding: v.$sp-great 5rem;
	position: relative;
	@include m.size(100%, 100dvh);
	@include m.flex(flex-start, stretch, column);

	@media #{v.$bp-tablet} {
		--tui-font-heading-3: bold #{v.$fs-large}/ 1 var(--tui-font-heading);
		padding: v.$sp-extra-large;
	}

	@media #{v.$bp-phone} {
		--tui-font-heading-5: 700 #{v.$fs-semi-small}/ 1 var(--tui-font-heading);
		--tui-font-heading-3: bold #{v.$fs-big}/ 1 var(--tui-font-heading);
		padding: v.$sp-large;
		gap: v.$sp-big;
	}
}

#header {
	position: relative;
	z-index: 1;
	@include m.flex(flex-start, center, row);
}

main {
	flex: 1;
	position: relative;
	z-index: 1;
	width: 40dvw;
	@include m.flex(center, stretch, column, wrap, v.$sp-extra-large);

	@media #{v.$bp-phone-tablet} {
		width: 100%;
	}

	@media #{v.$bp-phone} {
		gap: v.$sp-extra-big;
	}

	> header {
		width: 100%;
		@include m.flex(center, stretch, column, wrap, v.$sp-semi-small);

		h3 {
			text-transform: uppercase;
			color: c.$cool-gray;
		}

		h2 {
			display: block;

			&::after {
				content: '';
				display: inline-block;
				background-color: c.$brilliant-rose;
				border-radius: 100%;
				@include m.square(v.$fs-regular);
			}
		}
	}

	> form {
		@include m.flex(space-between, center, row, wrap, v.$sp-medium);

		> cf-form-field:not(#balance, #ticket) {
			width: 100%;
		}

		#balance,
		#ticket {
			flex: 1;

			@media #{v.$bp-phone-tablet} {
				width: 100%;
				flex: none;
			}
		}
	}

	> footer {
		@include m.flex(flex-end, center, row);

		@media #{v.$bp-phone-tablet} {
			@include m.flex(center, center, row);

			> cf-button {
				width: 100%;
			}
		}
	}
}

#carousel {
	position: absolute;
	z-index: 0;
	border-radius: 50px;
	animation: fadeIn 1s ease-in-out;
	@include m.position($right: 0, $bottom: 0);
	@include m.size(70dvw, 100dvh);
	@include m.flex(center, center);
}

.carousel-skeleton {
	position: absolute;
	z-index: 0;
	border-radius: 50px;
	@include m.position($right: 1.5rem, $bottom: 1.6rem);
	@include m.size(53dvw, 95dvh);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
