<header id="header">
	<cf-logo />
</header>

<main>
	<header>
		<h2>Create new account</h2>
		<h3>Start for free</h3>
	</header>

	<form [formGroup]="form" id="form" (ngSubmit)="signUp()">
		@for (field of formFields; track field.id) {
			<cf-form-field
				[ngClass]="[field.id]"
				[nativeId]="field.id"
				[formControlName]="field.formControlName"
				[type]="field.type"
				[placeholder]="field.placeholder"
				[iconLeading]="field.icon"
				[label]="field.label"
				[isRequired]="field.isRequired"
				[hint]="field.hint"
				[prefix]="field.prefix || ''" />
		}
	</form>

	<footer>
		<cf-button [type]="'submit'" [label]="'Create account'" [form]="'form'" />
	</footer>
</main>

@if (isCarouselVisible) {
	@defer {
		<cf-carousel
			id="carousel"
			[items]="(carousel$ | async) || []"
			[loaderParams]="{ width: 1310, fit: 'cover' }"
			[addFade]="true" />
	} @loading {
		<div class="carousel-skeleton"></div>
	} @placeholder {
		<div class="carousel-skeleton"></div>
	}
}
