<header id="header">
	<cf-logo />
</header>

<main>
	<header>
		<h2 [tuiTitle]="'l'">Create new account</h2>
		<h3 [tuiTitle]="'m'">Start for free</h3>
	</header>

	<form [formGroup]="form" id="form" (ngSubmit)="signUp()">
		@for (field of formFields; track field.id) {
			<cf-form-field
				[ngClass]="[field.id]"
				[nativeId]="field.id"
				[formControlName]="field.formControlName"
				[type]="field.type"
				[placeholder]="field.placeholder"
				[iconLeft]="field.icon"
				[label]="field.label"
				[isRequired]="field.isRequired"
				[hint]="field.hint"
				[prefix]="field.prefix || ''" />
		}
	</form>

	<footer>
		<cf-button [type]="'submit'" [label]="'Create account'" [form]="'form'" />
	</footer>
</main>

@if (isCarouselVisible) {
	@defer {
		<cf-carousel id="carousel" [items]="carouselItems$" [addFade]="true" />
	} @loading {
		<div class="carousel-skeleton" [tuiSkeleton]="true"></div>
	} @placeholder {
		<div class="carousel-skeleton" [tuiSkeleton]="true"></div>
	}
}
