@use 'colors' as c
@use 'mixins' as m

header
    width: 100%
    @include m.flex(space-between, stretch, row, wrap, 5rem)

    > section
        @include m.flex(center, center, row, wrap, 0.5rem)

        > i
            color: c.$primary
            font-size: 1.5rem

        > h1
            color: c.$primary
            font-weight: 600
            font-size: 1.5rem
            line-height: 1

    > cf-form-field
        flex: 1
