@use 'mixins' as m;
@use 'variables' as v;

:host {
	width: 100%;
	height: 100%;
	position: relative;
	@include m.flex($align: stretch, $direction: column);
}

div {
	flex: 1;
	padding-inline: v.$sp-medium;
	@include m.flex(space-between, stretch, $gap: v.$sp-medium);

	section {
		flex: 1;
		@include m.flex(flex-start, stretch, column, wrap, v.$sp-medium);

		main {
			flex: 1;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-gap: v.$sp-regular;
		}
	}
}
