@use 'mixins' as m;

:host {
	width: 100%;
	height: 100%;
	@include m.flex($align: stretch, $direction: column, $gap: 20px);
}

div {
	flex: 1;
	@include m.flex(space-between, stretch, $gap: 20px);

	section {
		flex: 1;
		@include m.flex(flex-start, stretch, column, wrap);

		main {
			flex: 1;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-gap: 16px;

			// @include m.flex(flex-start, flex-start, row, wrap, 20px);
		}
	}
}
