@if (items() | async; as items) {
	<tui-carousel [duration]="duration()" [draggable]="isDraggable()" [(index)]="index" [ngClass]="{ fade: addFade() }">
		@for (item of items; track item.id) {
			<picture *tuiItem>
				@for (size of backdropSizes$ | async; track $index) {
					<source [srcset]="(imagesPath$ | async) + size + item.image" [media]="getMediaQuery(size)" />

					@if (size.includes('original')) {
						<img [src]="(imagesPath$ | async) + size + item.image" [alt]="item.alt" />
					}
				}
			</picture>
		}
	</tui-carousel>
	<tui-pagination [size]="paginationSize()" [(index)]="index" [length]="items.length" />
}
