@let imagesPath = imagesPath$ | async;

<!-- Previous button -->
@if (!isSignUp) {
	<cf-button
		[isIconButton]="true"
		[type]="'button'"
		[icon]="'tuiIconChevronLeftLarge'"
		[tuiHint]="'Previous'"
		(buttonClick)="previousSlide()"
		aria-label="Previous page" />
}

<!-- Carousel with pagination -->
<tui-carousel
	[duration]="duration()"
	[draggable]="isDraggable()"
	[(index)]="index"
	[ngClass]="{ fade: addFade(), rounded: !isSignUp }">
	@for (item of items(); track item.id) {
		<picture
			*tuiItem
			[tuiHint]="isSignUp ? item.hint : null"
			[tuiHintDescribe]="item.id"
			[tuiHintDirection]="'top-left'"
			[tuiHintShowDelay]="1000"
			tuiHintPointer
			[ngClass]="{ 'skeleton-image': isImageLoading }">
			@for (size of backdropSizes$ | async; track $index) {
				@let bannerPath = imagesPath + size + item.image;

				@if (size.includes('original')) {
					<img
						[ngSrc]="bannerPath"
						[loaderParams]="loaderParams()"
						[alt]="item.alt"
						(load)="onImageLoad()"
						priority
						placeholder
						fill />
				} @else {
					<source [srcset]="bannerPath" [media]="getMediaQuery(size)" />
				}
			}
			@if (!isSignUp) {
				<ng-container *ngTemplateOutlet="movieInfo; context: { movie: item }" />
			}
		</picture>
	}
</tui-carousel>
<tui-pagination
	#pagination
	[size]="paginationSize()"
	[(index)]="index"
	[length]="items().length"
	[ngClass]="{ 'sign-up': isSignUp }" />

<!-- Next button -->
@if (!isSignUp) {
	<cf-button
		[isIconButton]="true"
		[type]="'button'"
		[icon]="'tuiIconChevronRightLarge'"
		[tuiHint]="'Next'"
		(buttonClick)="nextSlide()"
		aria-label="Next page" />
}

<!-- Movie poster -->
<ng-template #movieInfo let-movie="movie">
	<div class="movie-info">
		<picture>
			@for (size of posterSizes$ | async; track $index) {
				@let posterPath = imagesPath + size + movie.movie.poster;

				@if (size.includes('original')) {
					<img
						[ngSrc]="posterPath"
						[alt]="movie.movie.title + 'poster'"
						[loaderParams]="{ width: 176, height: 288, fit: 'cover' }"
						(load)="onImageLoad()"
						priority
						placeholder
						fill />
				} @else {
					<source [srcset]="posterPath" [media]="getMediaQuery(size)" />
				}
			}
		</picture>
		<section>
			<article>
				<p>{{ movie.movie.title }}</p>
				<p>{{ movie.movie.genre | genre }}</p>
			</article>
			<cf-button [type]="'button'" [label]="'Watch the trailer'" [iconRight]="'play-circle'" />
		</section>
	</div>
</ng-template>
