@use 'mixins' as m;
@use 'variables' as v;
@use 'colors' as c;

footer {
	width: 100%;
	@include m.flex(center, center, column, wrap, v.$sp-regular);
}

ul {
	@include m.flex(center, center, row, wrap, v.$sp-regular);
}

li {
	display: inline-block;
}

a {
	color: c.$cool-gray;
	transition: all 0.2s ease;

	&:hover {
		color: lighten($color: c.$cool-gray, $amount: 10%);
	}
}

section {
	@include m.flex(center, stretch, column, wrap, v.$sp-small);
	text-align: center;

	> small {
		font-size: v.$fs-extra-small;
		color: c.$cool-gray;
	}
}
