<cf-carousel
	[items]="(carousel$ | async) || []"
	[loaderParams]="{ width: 1570, height: 560, fit: 'cover' }"
	[imagePath]="(imagePath$ | async)!"
	[backdropSizes]="(backdropSizes$ | async)!"
	[posterSizes]="posterSizes$ | async" />

<section>
	@for (movie of movies$ | async; track movie.id; let first = $first) {
		<cf-movie
			[id]="movie.id"
			[title]="movie.title"
			[poster]="movie.poster"
			[genre]="movie.genre"
			[runtime]="movie.runtime"
			[classification]="movie.classification.classification"
			[meaning]="movie.classification.meaning"
			[imagePath]="(imagePath$ | async)!"
			[posterSizes]="(posterSizes$ | async)!" />
	}
</section>
