@use 'colors' as c;
@use 'mixins' as m;
@use 'variables' as v;

:host {
	@include m.flex(center, stretch, column, wrap);
}

a,
button {
	outline: none;
	box-shadow: none;
	font-weight: 500;
	transition: all 0.4s ease;
	padding-inline: 2.5rem;
	@include m.flex(center, center, row, wrap, v.$sp-small);

	span {
		color: c.$white;
		flex: 1;
	}

	cf-icon {
		color: c.$primary;
	}

	&:hover {
		background-color: c.$primary;
		transform: none;
		box-shadow: none;

		> * {
			color: c.$background;
		}
	}
}
