@if (isButton()) {
	<cf-button
		[type]="'button'"
		[label]="label()"
		[iconLeading]="icon()"
		[isLoading]="isLoading()"
		(buttonClick)="onNavigationItemClick()"
		[ngClass]="{ 'is-loading': isLoading() }" />
} @else {
	<a [routerLink]="route()" routerLinkActive="active" ariaCurrentWhenActive="page">
		<ng-container *ngTemplateOutlet="content"></ng-container>
	</a>
}

<ng-template #content>
	<cf-icon [icon]="icon()" [color]="'var(--cf-navigation-item-icon-color)'" [size]="20" />
	<span>{{ label() }}</span>
</ng-template>
