@use 'colors' as c;
@use 'mixins' as m;
@use 'variables' as v;

:host {
	@include m.flex(center, stretch, column, wrap);
	--tui-radius-xl: 6.25rem;
}

a,
button {
	outline: none;
	box-shadow: none;
	font-weight: 500;
	transition: all 0.4s ease;
	padding: v.$sp-extra-small v.$sp-semi-large;
	@include m.flex(center, center, row, wrap, v.$sp-semi-small);

	span {
		color: c.$white;
		flex: 1;
	}

	cf-icon {
		color: c.$brilliant-rose;
	}

	&:hover {
		background-color: c.$brilliant-rose;
		transform: none;
		box-shadow: none;

		> * {
			color: c.$night;
		}
	}
}

.is-loading {
	background-color: c.$brilliant-rose;
	color: c.$night;
	height: 3.25rem;
}

.active {
	background-color: c.$brilliant-rose;

	span {
		color: c.$night;
	}

	cf-icon {
		color: c.$night;
	}
}
