@if (isButton()) {
	<tui-loader [overlay]="true" [showLoader]="isLoading()">
		<button tuiAction type="button" (click)="onButtonClick()" [ngClass]="{ 'is-loading': isLoading() }">
			@if (!isLoading()) {
				<ng-container *ngTemplateOutlet="content"></ng-container>
			}
		</button>
	</tui-loader>
} @else {
	<a tuiAction [routerLink]="route()" routerLinkActive="active" ariaCurrentWhenActive="page">
		<ng-container *ngTemplateOutlet="content"></ng-container>
	</a>
}

<ng-template #content>
	<cf-icon [icon]="icon()" />
	<span>{{ label() }}</span>
</ng-template>
